<% # IMPORTANT: Also update current_tos_version in application_controller %>
<div id="tos" class="userstuff">
  <h2 class="heading">The Enderwalk Archives is a place for MCYT (Minecraft YouTube) fanworks, including fan fiction based on roleplays, Let’s Plays, other fanworks, other media, and real-person fiction (RPF).</h2>

  <h3 class="heading">What We Believe</h3>
  <ol>
    <li>Our goal is maximum inclusiveness of content that falls within the Archive’s scope and content policies.</li>
    <li>We do not sell the data that you post on, submit to or share on the Enderwalk Archives to third parties, and we do not include or accept paid advertisements from third parties.</li>
    <li>By using the Enderwalk Archives, you agree to follow the content rules of the Archive, or otherwise risk having your account terminated.</li>
    <li>The staff of the Enderwalk Archives are not liable for any legal risks you face by posting, viewing, or otherwise engaging with content posted to the Archive. We do not claim legal responsibility over your posted content, and you are entirely responsible for your own content.</li>
  </ol>

  <h3 class="heading">The Rules:</h3>
  <ol class="toc" role="navigation">
    <li><a href="#general">General Rules</a></li>
    <li><a href="#content">Content Rules</a></li>
  </ol>

  <h4 class="heading"><a name="general" id="general">General Rules</a></h4>
  
  <ol>
    <li>You may not use the EWA to impersonate any real person or entity. (Fictional content explicitly described as such, i.e. RPF in the first-person, does not constitute impersonation.)</li>
    <li>You may not use the EWA to post another person's copyrighted material. Quotes from source canon and/or references to source canon or other fanworks do not constitute copyright infringement.</li>
    <li>You may not use the EWA for advertisement, spam or chain letters.</li>
    <li>You may not use the EWA to distribute any material including malicious or potentially harmful code.</li>
    <li>You may not use the EWA for harassment, including of other users. RPF does not inherently constitute harassment.</li>
    <li>User icons must be safe for work.</li>
    <li>You must be above the age of 13 to create an account on the EWA.</li>
</ol>
 
  <h4 class="heading"><a name="content" id="content">Content Rules</a></h4>
  
  <p>The following content is prohibited:</p>
  
 <ol>
   <li>Sexually explicit material of any kind.</li>
   <li>"Safe for work" fetish material.</li>
   <li>Romantic ("Shipping") material of underage content creators in a RPF (Real Person Fiction) setting, or otherwise not in regards to a pre-existing fictional canon.</li>
   <li>Romantic ("Shipping") material of underage characters or people with adults regardless of setting.</li>
   <li>Romantic ("Shipping") material between characters or people that are biologically related or related by adoption or marriage (i.e. step-siblings), regardless of setting.</li>
   <li>Material which has no meaningful content outside of bigotry, including, but not limited to:
     <ul>
       <li>Material where the entire central focus is bigotry, especially graphic hate crimes</li>
       <li>Material that reflects real-world incidents of bigotry</li>
       <li>Material which condones bigotry or hateful worldviews and/or ideologies</li>
       <li>Material which contains the use of hateful slurs towards minority groups</li>
       <li>Material which directs bigoted comments at any real person directly, outside the context of fiction</li>
     </ul>
  <li>Material which does not fall within the scope of the Archive, as per defined in the categories below:</li>
   <ul>
     <li>Content creators who make Minecraft-related video content for the Internet, including Twitch streamers and YouTubers, or are directly associated with those who do.</li>
     <li>Fictional roleplay servers and stories in which Minecraft is used as a medium for storytelling, without regard to how much of these stories are pre-planned or scripted.</li>
     <li>Podcasts, web series, and other material created by MCYT Content Creators, as defined above, even if they do not directly correlate to Minecraft or the fandom.</li>
     <li>Fan-created stories, universes and works without direct ties to pre-existing canons or content creators, such as "Penis SMP".</li>
     <li>Original work related to Minecraft, such as works based on a user's own SMP server.</li>
     <li>Crossover work between any of the above categories and out-of-scope media.</li>
   </ul>
 </ol>
  
  <p>EWA staff reserves the right to remove any other material we deem unfit to host on the Archive, if a consensus is reached after discussion with the content moderation team.</p>
</div>
