<h2 class="heading"><%= ts('About the') %> <abbr title="<%= ts("Enderwalk Archives")%>"><%= ts("EWA") %></abbr></h2>

<div class="userstuff">
  <p>Enderwalk Archives is a fan-run archive for MCYT-based fanworks. We are unaffiliated with AO3 or the OTW. We simply use their open-source software for our Archive.</p>
  
  <p>If you have any questions or concerns, don't hesitate to contact us using the link at the bottom of the page.</p>
</div>
